<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8" />
<!-- #block cross-scripting from malicious users -->
    <meta http -equiv ="Content-Security-Policy" content=" script-src 'self';">

    <title> AM movie and game group </title>
    <link rel="stylesheet" href="/static/css/styled.css" >
</head>


<body>
    <h1> AM: Movie and game group! </h1>
    <nav>
        <a href="/">Home </a>
        <a href ="/login">Login</a>
        <a href ="/signup">Sign up</a>
    </nav>

</body>

</html>